models/classifier/face_data/happy
models/classifier/face_data/neutral
models/classifier/face_data/sad
models/classifier/pose_data/etc
models/classifier/pose_data/sitting
models/classifier/pose_data/standing
aws/capstone_p2xlarge.pem
aws/capstone_p2xlarge.ppk
aws/ec2
socket_codes/coon.jpg